
<div class="border-top-thin clearfix mt-2 mt-lg-4">
  <div class="container mx-auto px-2">
    <p class="col-8 sm-width-full left py-2 mb-0">{{ site.copyright[page.lang] }}</p>
    <ul class="list-reset right clearfix sm-width-full py-2 mb-2 mb-lg-0">
      <li class="inline-block">
        <a class="gitlab-button" href="https://gitlab.com/solucracy/solucracy-blog">Source Code</a>
      </li>
    </ul>
  </div>
</div>