<header class="border-bottom-thick px-2 clearfix">
  <div class="left sm-width-full py-1 mt-1 mt-lg-0">
    <a class="align-middle link-primary text-accent solutitle" href="{{ site.baseurl }}/">
    </a>
  </div>
  <div class="right sm-width-full topnav">
    <ul class="list-reset mt-lg-1 mb-2 mb-lg-1">
      {% for menu in site.nav[page.lang] %}
        <li class="inline-block">
          <a class="align-middle link-primary mr-2 mr-lg-0 ml-lg-2" href="{{ menu[1].url | prepend: site.baseurl }}">
            {{ menu[1].name }}
          </a>
        </li>
      {% endfor %}
      {% include lang_switch.html %}
    </ul>
  </div>
</header>
