<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div>
      {% include header.html %}

      <div class="container mx-auto px-2 py-2">
        {% assign posts = site.posts | where: "lang", page.lang %}
        {% for post in posts %}
          {% unless post.tags contains "method" %}
            {% include post_block.html %}
          {% endunless %}
        {% endfor %}
      </div>

    </div>
    {% include footer.html %}
  </body>
</html>
